{% extends "landing/inicio.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% load embed_video_tags %}

{% block header %}
{% endblock %} 
{% block body %}
<section  style="margin-top: 5%;" id="service" class="section pt-0">
    <div class="container">
        <h6 class="section-title text-center">Sesiones en vivo</h6>
        <h6 class="section-subtitle text-center mb-5 pb-3">Realizamos producciones para eventos y para artistas.</h6>
        <div class="row">
            {% for l_v in list_vivo.all %}                                                       
            <div class="contenedor col-md-4">
            <div class="card_video img_bio">                    
                    <h5>{{l_v.titulo}}</h5>
                    {% video l_v.url '400x400' %} 
                    <p>{{l_v.descripcion}}</p>
                    <h6>{{l_v.fecha_grabacion}}</h6>                  
                </div>                        
            </div>
            {% endfor %}
        </div>  
    </div>
</section>
{% endblock %} 